@font-face {
    font-family: whitney;
    src: url(./whitney.otf);
}

* {
    user-select: none;
}

p {
    padding: 0;
    margin: 0;
}

body {
    background-color: #36393F;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: whitney;
}

.container {
    width: 320px;
    display: flex;
    padding: 16px 0;
}

.container:not(:last-of-type) {
    border-bottom: 1px solid hsla(0,0%,100%,.04);;
}


.image-container img {
    width: 40px;
    border-radius: 50%;
}

.text-container {
    margin-left: 16px;
    flex-grow: 1;
}

.author {
    height: 1.3em;
}

.name {
    color: #FFFFFF;
    font-weight: bold;
}

.name:hover {
    text-decoration: underline;
    cursor: pointer;
}

.time {
    color: hsla(0,0%,100%,.2);
    font-size: 0.75rem;
    margin-left: .3rem;
}

.text-content {
    color: #dcddde;
    line-height:1.3em;
    font-size: 15px;
}

.reaction {
    margin-top: 8px;
    background-color: #42454A;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    padding: 2px 4px;
}

.reaction.reacted {
    background-color: rgba(114, 137, 218, 0.3);
}

.starred {
    color: #7289da!important;
}

.reaction:hover {
    cursor: pointer;
}

.reaction:hover .amount {
    color: #dcddde;
}

.reaction img{
    height: 1rem;
    width: 1rem;
}

.amount {
    color: #72767d;
    font-size: 0.875rem;
    font-weight: bold;
    margin-left: 4px;

}





Project name: Binventor
Main language(s): Python 3.7, JavaScript, (HTML5, CSS3)
Any additional libraries or overhead: Flask, Jinja, Highlight.js
Single line description of project: The quickest and easiest code sharing app you've ever seen
Progress to completion: It's pretty mature already, always looking forward to improve. (Adding line numbers atm)
Detailed description: Binventor is a pastebin web app. It is different then all others because it's focus is on UI, UX and ease of use: you paste your code, hit CTRL + S and boom! It auto highlights the code and gives you the link to share. It uses SQLite3 to store the pastes. Right now all pastes are public, maybe I'll add private feature too.
Repo link: https://github.com/TomerShech/Binventor